*{
  box-sizing: border-box;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;

  font-family: times, serif;
  font-size: 12pt;
  line-height: 22pt;
  color: #000;
}

menu{
  top:0;
  margin: 0;
  padding: 30px;
  position: fixed;
  width: 300px;
}

#content {
  margin-left: 300px;
  padding: 30px;
}

img {
  height: 300px;
}

/*-------*/
/* tekst */
/*-------*/


h1 {
  font-family: "Montserrat", arial;
  font-weight: 400;
}

h2 {
  font-family: "Montserrat", arial;
  font-weight: 400;
  font-size: 16px;
}

p {
  font-family: "lato", arial;
}

a {
  text-decoration: none;
  color: #ccc;
}
